In [111]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import datetime
import calendar

In [112]:
customer_data = pd.read_csv("loyalty.csv")
print(customer_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1246 entries, 0 to 1245
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           1246 non-null   int64
 1   spend                 1246 non-null   float64
 2   first_month           1246 non-null   object
 3   items_in_first_month  1246 non-null   int64
 4   region                1246 non-null   object
 5   loyalty_years         1246 non-null   object
 6   joining_month         1121 non-null   object
 7   promotion             1246 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 78.0+ KB
None

# **Checking the data columns by cloumn**  
First I am checking the data accordingly to what we should expect.
## **customer_id**  
All the values should be unique.

In [113]:
print(len(customer_data["customer_id"].unique()))
len(customer_data)

1246

1246

In [114]:
print(customer_data["customer_id"].iloc[-1])

1246

The dataframe is ordered by the ascending customer_id.  

## **spend**  
Continuous. </br>The total spend of the customer in their last full year. This can be any positive value to two decimal places. </br>Missing values should be replaced with 0.

In [115]:
print(customer_data["spend"].describe())
print(customer_data["spend"].head())

count    1246.000000
mean      122.637119
std         9.975102
min       104.290000
25%       112.210000
50%       123.840000
75%       131.092500
max       142.290000
Name: spend, dtype: float64
0    132.68
1    106.45
2    123.16
3    130.60
4    130.41
Name: spend, dtype: float64

There are no missing values and no 0 (the minimum is 104.29).  
Furthermore, it seems taht the values are all rounded to 2 decimals. However, the 75 percentile has 4 decimals. Because I am a bit leaszy, just to be sure I will round to 2 decimals the column.

In [116]:
customer_data["spend"] = customer_data["spend"].round(2)

## **first_month**  
Continuous. </br>The amount spent by the customer in their first month of the year. This can be any positive value, rounded to two decimal places. </br>Missing values should be replaced with 0.  

Based on the general info, this column is an object type (string). It should be a float.

In [117]:
print(customer_data["first_month"].value_counts(dropna=False))
print(customer_data["first_month"].isna().sum())

first_month
.        125
21.38     12
21.33     10
21.35      9
21.39      9
        ...
15.71      1
25.28      1
24.41      1
19.95      1
26.18      1
Name: count, Length: 491, dtype: int64
0

The problem is the ".". I will replace it to 0 and change to float type.

In [118]:
customer_data["first_month"].replace(".",None, inplace=True)
customer_data["first_month"] = customer_data["first_month"].astype(float)
customer_data["first_month"].fillna(0, inplace=True)
print(customer_data["first_month"].describe())

count    1246.000000
mean       17.161998
std         6.583749
min         0.000000
25%        15.750000
50%        19.125000
75%        21.280000
max        26.200000
Name: first_month, dtype: float64

C:\Users\Angelique\AppData\Local\Temp\ipykernel_9168\2959011451.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_data["first_month"].replace(".",None, inplace=True)
C:\Users\Angelique\AppData\Local\Temp\ipykernel_9168\2959011451.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_data["first_month"].fillna(0, inplace=True)

In [119]:
customer_data["first_month"] = customer_data["first_month"].round(2)
print(customer_data["first_month"].describe())

count    1246.000000
mean       17.161998
std         6.583749
min         0.000000
25%        15.750000
50%        19.125000
75%        21.280000
max        26.200000
Name: first_month, dtype: float64

## **items_in_first_month**
Discrete. </br>The number of items purchased in the first month. Any integer value greater than or equal to zero. </br>Missing values should be replaced by 0.  

Based on the general info, the type is integer so it's a good type. Furthermore there are no missing values. So let's see if we have 0. If we do not have 0, I will have to compare with the customers who have spent nothing in the first month.

In [120]:
print(customer_data["items_in_first_month"].describe())

count    1246.000000
mean        9.418138
std         3.000288
min         5.000000
25%         7.000000
50%         9.000000
75%        13.000000
max        15.000000
Name: items_in_first_month, dtype: float64

Humm...We do not have any 0 as minimum. I will go back to it in the next chapter. For now I am only doing a general scrolling.

## **region**
Nominal. </br>The geographic region that the customer is based in. One of four values Americas, Asia/Pacific, Europe, Middle East/Africa. </br>Missing values should be replaced with "Unknown".  
In the general info this column is an object. So far so good.

In [121]:
print(customer_data["region"].value_counts(dropna=False))

region
Middle East/Africa    326
Europe                320
Americas              309
Asia/Pacific          291
Name: count, dtype: int64

Everything seems in Ordnung. So I will switch to categorical to gain some space.

In [122]:
customer_data["region"] = customer_data["region"].astype("category")

## **loyalty_years**  
Oridinal. </br>The number of years the customer has been a part of the loyalty program. One of five ordered categories, '0-1', '1-3', '3-5', '5-10', '10+'. </br>Missing values should be replaced with '0-1'.  
Right now the column is an object and needs to be changed into an ordered caetgorical type.

In [123]:
print(customer_data["loyalty_years"].value_counts(dropna=False, sort=False))

loyalty_years
5-10    250
0-1     382
10+     117
3-5     256
1-3     241
Name: count, dtype: int64

I have to switch to categories. Right now they are not ordered at all.

In [124]:
customer_data["loyalty_years"] = customer_data["loyalty_years"].astype("category")
new_categories = ["0-1","1-3","3-5","5-10","10+"]
customer_data["loyalty_years"] = customer_data["loyalty_years"].cat.reorder_categories(new_categories=new_categories, ordered=True)
print(customer_data["loyalty_years"].value_counts(sort=False))

loyalty_years
0-1     382
1-3     241
3-5     256
5-10    250
10+     117
Name: count, dtype: int64

## **joining_month**  
Nominal. </br>The month the customer joined the loyalty program. One of 12 values "Jan", "Feb", "Mar", "Apr", etc. </br>Missing values should be replaced with "Unknown".

In [125]:
print(customer_data["joining_month"].value_counts(dropna=False))
customer_data["joining_month_num"] = pd.to_datetime(customer_data["joining_month"], format="%b")
customer_data["joining_month_num"] = customer_data["joining_month_num"].dt.month
customer_data["joining_month"].fillna("Unknown", inplace=True)
print(customer_data["joining_month"].value_counts(dropna=False))
print(customer_data["joining_month_num"].isna().sum())
customer_data["joining_month_num"].fillna(0, inplace=True)
customer_data["joining_month_num"].isna().sum()

joining_month
Jan    146
NaN    125
Jul    111
Feb    109
Oct    107
May     96
Apr     93
Aug     91
Sep     88
Mar     85
Nov     75
Jun     75
Dec     45
Name: count, dtype: int64
joining_month
Jan        146
Unknown    125
Jul        111
Feb        109
Oct        107
May         96
Apr         93
Aug         91
Sep         88
Mar         85
Nov         75
Jun         75
Dec         45
Name: count, dtype: int64
125

C:\Users\Angelique\AppData\Local\Temp\ipykernel_9168\223968871.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_data["joining_month"].fillna("Unknown", inplace=True)
C:\Users\Angelique\AppData\Local\Temp\ipykernel_9168\223968871.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_data["joining_month_num"].fillna(0, inplace=True)

0